@import "tailwindcss";

:root {
  --color1: #4f46e5;
  --color2: #3b82f6;
  --color3: #06b6d4;
  --color4: #a78bfa;

  --background: #171717;
  --foreground: #ffffff;
}

body {
  background: linear-gradient(270deg, var(--color1), var(--color2), var(--color3), var(--color4));
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
  color: var(--foreground);
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  color: var(--foreground);
}


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
